.app {
  display: grid;
  grid-auto-flow: column;
}

@media only screen and (max-width: 1200px) {
  .app {
    grid-auto-flow: row;
  }
}

.react-markdown {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
