.cm-s-custom.CodeMirror {
  background: #fff;
  color: #24292e;
  height: max-content;
  width: 100%;
}

.cm-s-custom .CodeMirror-gutters {
  background: #fff;
  border-right-width: 0;
}

.cm-s-custom .CodeMirror-guttermarker {
  color: white;
}

.cm-s-custom .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-custom .CodeMirror-linenumber {
  color: #959da5;
}

.cm-s-custom .CodeMirror-cursor {
  border-left: 1px solid #24292e;
}

.cm-s-custom div.CodeMirror-selected,
.cm-s-custom .CodeMirror-line::selection,
.cm-s-custom .CodeMirror-line > span::selection,
.cm-s-custom .CodeMirror-line > span > span::selection,
.cm-s-custom .CodeMirror-line::-moz-selection,
.cm-s-custom .CodeMirror-line > span::-moz-selection,
.cm-s-custom .CodeMirror-line > span > span::-moz-selection {
  background: #c8c8fa;
}

.cm-s-custom .CodeMirror-activeline-background {
  background: #fafbfc;
}

.cm-s-custom .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #24292e !important;
}

.cm-s-custom .CodeMirror-lines {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 12px;
  background: #fff;
  line-height: 1.5;
}

.cm-s-custom .cm-comment {
  color: #6a737d;
}

.cm-s-custom .cm-constant {
  color: #005cc5;
}

.cm-s-custom .cm-entity {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #6f42c1;
}

.cm-s-custom .cm-keyword {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #d73a49;
}

.cm-s-custom .cm-storage {
  color: #d73a49;
}

.cm-s-custom .cm-string {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #032f62;
}

.cm-s-custom .cm-support {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #005cc5;
}

.cm-s-custom .cm-variable {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #e36209;
}
